@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --main-black: 240 5.9% 10%;
    --main-gray: 240 3.8% 46.1%;
    --main-white: 0 0% 100%;

    --snow-white: 0 0% 98%;

    /* navy1: 233 16% 20% */
    /* navy2: 205 27% 23% */
    --bsg-navy: 233 16% 20%;
    --bsg-navy-foreground: 215 37% 45%;
    --bsg-blue: 201 94% 36%;
    --bsg-yellow: 46 96% 54%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --muted: 240 4.8% 95.9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --success: 146 52% 43%;
    --success-background: 146 100% 91%;
    --success-foreground: 0 0% 98%;

    --info: 215 92% 49%;
    --info-background: 216 100% 95%;
    --info-foreground: 0 0% 98%;

    --warning: 39 100% 50%;
    --warning-background: 39 100% 97%;
    --warning-foreground: 0 0% 98%;

    --error: 0 76% 57%;
    --error-background: 0 91% 97%;
    --error-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --muted: 240 3.7% 15.9%;
    --main-gray: 240 3.8% 46.1%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .required::after {
    @apply content-['*'] ml-1 text-red-600;
  }
}
